<% if (title) { %>
  <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<% if (messages.notice && messages.notice.length) { %>
  <div class="flash-notice">
    <% messages.notice.forEach(function(message) { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>

<p>You are Logged In</p>

<% if (locals.loggedin && locals.accountData) { %>
  <h2>Welcome, <%= locals.accountData.first_name %></h2>
  <% if (locals.accountData.role === "Employee" || locals.accountData.role === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv/management">Go to Inventory Management</a></p>
  <% } %>
<% } %>
