<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (locals.loggedin && locals.accountData) { %>
      <a href="/inv/management" title="Go to account management">
        Welcome, <%= locals.accountData.first_name %> |
      </a>
      <a href="/account/update/<%= locals.accountData.id %>" title="Update Account Information">
        Update Account Information |
      </a>
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>
