<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="add-classification">
    <h2>Add Classification</h2>
    
    <form action="/inv/add-classification" method="post">
        <div>
          <label for="classification_name">Classification Name:</label>
          <input type="text" id="classification_name" name="classification_name" 
                 required 
                 pattern="^[A-Za-z0-9]+$" 
                 title="Only letters and numbers are allowed, no spaces or special characters."
                 value="<%= classification_name || '' %>">
        </div>
        <button type="submit">Add Classification</button>
      </form>
    <hr>
</div>
