<% //title %>
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>

            <% //messages %>

                <% if (messages.notice && messages.notice.length) { %>
                    <div class="notice">
                        <% messages.notice.forEach(function(message) { %>
                            <p>
                                <%= message %>
                            </p>
                            <% }); %>
                    </div>
                    <% } %>

                        <%- grid %>