<% //title %>
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>


            <% // Error Message %>
                <div class="error-message">
                    <p><%- message %></p>
                    <p>Our team is already on the case—maybe they need a coffee break to fix it, though!</p>
                </div>